# HTML-e-CSS

@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap";

* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background-color: #AAA9A3;
    color: white;
    font-family: 'Roboto Slab', serif;
}
header {
    padding-left: 32px;
    border-bottom: 5px solid white;
    background: rgba(black, yellow, blue, alpha);
}

.links {
    text-align: center;


}
.links a {
    color: white;
    font-size: 30px;
    line-height: 40px;
    margin: 0px 28px;
    text-decoration: none;
}
.links a:hover {
    color: rebeccapurple;
    transition: 200ms;
}

#wrapper {
    text-align: center;
    padding: 32px;
}

#wrapper img {
    border-radius: 50%;
    border: 5px solid white;
    margin-bottom: 32px;
    height: 300px;
}

#wrapper h1 {
    font-size: 62px;
    line-height: 52px;
    font-weight: bold;
    padding: 32px;
}

#wrapper h2 {
    font-size: 24px;
    font-weight: bold;
    padding: 32px;
}

#wrapper ul li {
    padding: 20px;
    font-size: 22px;
    line-height: 12px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
}

/*=== CARDS ===*/

.cards {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px;
}

.card {
    background-color: rebeccapurple;
}

.card_image-container img {
    width: 100%;
}

.card_content {
    padding: 24px
}

.card_info {
    padding: 24px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
}

.card_price {
    background-color: rebeccapurple;
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}

/*=== MODAL ===*/

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: black;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close-modal {
    color: white;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

/*=== MODAL.ACTIVE ===*/

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
}
